asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
Django==4.2.18
django-allauth==65.3.1
django-debug-toolbar==5.0.1
django-extensions==3.2.3
django-multi-captcha-admin==2.0.0
django-ranged-response==0.2.0
django-robots==6.1
django-simple-captcha==0.6.1
django-taggit==6.1.0
django-tinymce==4.1.0
djangorestframework==3.15.2
idna==3.10
json5==0.10.0
pillow==11.1.0
pytz==2024.2
regex==2024.11.6
requests==2.32.3
sqlparse==0.5.3
tqdm==4.67.1
urllib3==2.3.0
