{% load static %}

<div class="col-lg-4">

                  <div class="trending">
                    <h3>Trending</h3>
                    <ul class="trending-post">
{% for tpost in trending_posts %}
                        <li>
                        <a href="{% url 'blog:single' pid=tpost.id %}">
                        <span class="number">{{forloop.counter}}</span>
                        <h3>{{tpost.title}}</h3>
                        <span class="author">{{tpost.author.get_full_name}}</span>
                        </a>
                        </li>
{% empty %}
                        <li>no posts found</li>
{% endfor %}
                    </ul>
                  </div>

                </div>