{% load static %}
<nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="{% url 'website:index' %}">Home</a></li>
      <li><a href="{% url 'blog:blog' %}">Blog</a></li>
      <li><a href="{% url 'website:about' %}">About</a></li>
      <li><a href="{% url 'website:contact' %}" class="active">Contact</a></li>
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>

<div>

    {% if request.user.is_authenticated %}
    <i>Logged in as {{request.user.username}}</i>
    <i>/</i>
    <i><a href="{% url 'accounts:logout' %}">Logout</a></i>
    {% elif not request.user.is_authenticated %}
        <i><a href="{% url 'accounts:login' %}">Login</a></i>
    <i>/</i>
        <i><a href="{% url 'accounts:register' %}">Signup</a></i>
    {% endif %}

  </div>