{% load static %} {% load humanize %}

<div class="recent-posts-widget widget-item">

              <h3 class="widget-title">Popular Posts</h3>
            {% for post in posts %}
              <div class="post-item">
                <a href="{% url 'blog:single' pid=post.id %}">
                    <img src="{{post.image.url}}" alt="" class="flex-shrink-0">
                </a>
                <div>
                  <h4><a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a></h4>
                  <time>{{post.created_date|naturalday}}</time>
                </div>
              </div><!-- End recent post item-->
            {% endfor %}
{% comment %}
              <div class="post-item">
                <img src="{% static 'blog/assets/img/blog/blog-recent-2.jpg' %}" alt="" class="flex-shrink-0">
                <div>
                  <h4><a href=#">Quidem autem et impedit</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>
              </div><!-- End recent post item-->

              <div class="post-item">
                <img src="{% static 'blog/assets/img/blog/blog-recent-3.jpg' %}" alt="" class="flex-shrink-0">
                <div>
                  <h4><a href=#">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>
              </div><!-- End recent post item-->

              <div class="post-item">
                <img src="{% static 'blog/assets/img/blog/blog-recent-4.jpg' %}" alt="" class="flex-shrink-0">
                <div>
                  <h4><a href=#">Laborum corporis quo dara net para</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>
              </div><!-- End recent post item-->

              <div class="post-item">
                <img src="{% static 'blog/assets/img/blog/blog-recent-5.jpg' %}" alt="" class="flex-shrink-0">
                <div>
                  <h4><a href=#">Et dolores corrupti quae illo quod dolor</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>
              </div><!-- End recent post item-->
{% endcomment %}
            </div>