{% load static %}

<div class="search-widget widget-item">

              <h3 class="widget-title">Search</h3>
              <form action="{% url 'blog:search' %}" method="get">
                <input type="text"
                       name="s"
                       placeholder="Search Posts"
                       onfocus="this.placeholder = ''"
                       onblur="this.placeholder = 'Search Posts'"
                >
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
              </form>

            </div>