{% load static %}

<div class="tags-widget widget-item">

              <h3 class="widget-title">Tags</h3>
              <ul>
                  {% for tag in tags %}
                     <li>
                         <a href="{% url 'blog:tag' tag_name=tag.name %}">
                             {{tag.name}}
                         </a>
                     </li>
                  {% empty %}
                  <p>No tags found.</p>
                  {% endfor %}
              </ul>

            </div>