{% load static %}

<div class="blog-author-widget-2 widget-item">

              <div class="d-flex flex-column align-items-center">
                <img src="{% static 'blog/assets/img/team/team-1.jpg' %}" class="rounded-circle flex-shrink-0" alt="">
                  <a href="{% url 'blog:author' author_name=author.username %}"><h4>{{author.get_full_name}}</h4></a>
                <div class="social-links">
                  <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                  <a href="https://instagram.com/#"><i class="biu bi-linkedin"></i></a>
                </div>

                <p>
                    The Legendary Post Writer of This Blog!
                </p>

              </div>
            </div>