{% extends "base.html" %} {% load static %} {% load blog_tags %} {% load humanize %} {% block content %}
<title>{% comment %}{{post.title}}{% endcomment %}
  Post Details
</title>
</head>
<body class="single-post-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'blog/assets/img/logo.png' %}" alt=""> -->
        <h1 class="sitename">ZenBlog</h1>
      </a>

     {% include 'blog/blog-nav.html' %}

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Post Details</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'blog:blog' %}">Blog Home</a></li>
            <li class="current">{{post.title}}</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container">

              <article class="article">

                <div class="post-img">
                  <img src="{{post.image.url}}" alt="" class="img-fluid">
                </div>

                <h2 class="title">{{post.title}}</h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i>
                      <a href="{% url 'blog:author' author_name=post.author.username %}">{{post.author.get_full_name}}</a>
                    </li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i>
                      <a href="#">{{post.created_date|date:'M d, Y'}}</a>
                    </li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i>
                      <a href="#">12 Comments</a>
                    </li>
                    <li class="d-flex align-items-center"><i class="bi bi-eye"></i>
                      <a>{{post.counted_views}}</a>
                    </li>
                  </ul>
                </div><!-- End meta top -->

                <div class="content">
                  <p>
                    {{post.content}}
                  </p>
                  <!--
                  <p>
                    Sit repellat hic cupiditate hic ut nemo. Quis nihil sunt non reiciendis. Sequi in accusamus harum vel aspernatur. Excepturi numquam nihil cumque odio. Et voluptate cupiditate.
                  </p>
                  -->

<!--                  <blockquote>-->
<!--                    <p>-->
<!--                      This is test text palceholder for future improvements-->
<!--                    </p>-->
<!--                  </blockquote>-->

<!--                  <p>-->
<!--                    Sed quo laboriosam qui architecto. Occaecati repellendus omnis dicta inventore tempore provident voluptas mollitia aliquid. Id repellendus quia. Asperiores nihil magni dicta est suscipit perspiciatis. Voluptate ex rerum assumenda dolores nihil quaerat.-->
<!--                    Dolor porro tempora et quibusdam voluptas. Beatae aut at ad qui tempore corrupti velit quisquam rerum. Omnis dolorum exercitationem harum qui qui blanditiis neque.-->
<!--                    Iusto autem itaque. Repudiandae hic quae aspernatur ea neque qui. Architecto voluptatem magni. Vel magnam quod et tempora deleniti error rerum nihil tempora.-->
<!--                  </p>-->

<!--                  <h3>Placeholder For A Mid-Text Title</h3>-->
<!--                  <p>-->
<!--                    Officiis animi maxime nulla quo et harum eum quis a. Sit hic in qui quos fugit ut rerum atque. Optio provident dolores atque voluptatem rem excepturi molestiae qui. Voluptatem laborum omnis ullam quibusdam perspiciatis nulla nostrum. Voluptatum est libero eum nesciunt aliquid qui.-->
<!--                    Quia et suscipit non sequi. Maxime sed odit. Beatae nesciunt nesciunt accusamus quia aut ratione aspernatur dolor. Sint harum eveniet dicta exercitationem minima. Exercitationem omnis asperiores natus aperiam dolor consequatur id ex sed. Quibusdam rerum dolores sint consequatur quidem ea.-->
<!--                    Beatae minima sunt libero soluta sapiente in rem assumenda. Et qui odit voluptatem. Cum quibusdam voluptatem voluptatem accusamus mollitia aut atque aut.-->
<!--                  </p>-->
                  <img src="{% static 'blog/assets/img/blog/blog-inside-post.jpg' %}" class="img-fluid" alt="">

<!--                  <h3>Another Placeholder For A Mid-Text Title</h3>-->
<!--                  <p>-->
<!--                    {{post.content|-->
<!--                  </p>-->
<!--                  <p>-->
<!--                    Alias quia non aliquid. Eos et ea velit. Voluptatem maxime enim omnis ipsa voluptas incidunt. Nulla sit eaque mollitia nisi asperiores est veniam.-->
<!--                  </p>-->

                </div><!-- End post content -->

                <div class="meta-bottom">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    {% for category in post.category.all %}
                    <li>
                      <a href="{% url 'blog:category' category_name=category %}">
                        {{category}}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>

                  <i class="bi bi-tags"></i>
                  <ul class="tags">
                    {% for tag in post.tag.all %}
                    <li>
                      <a href="{% url 'blog:tag' tag_name=tag %}">
                        {{tag}}
                      </a>
                    </li>
                    {% endfor %}
<!--                    <li><a href="#">Tips</a></li>-->
<!--                    <li><a href="#">Marketing</a></li>-->
                  </ul>
                </div><!-- End meta bottom -->

              </article>

            </div>
          </section><!-- /Blog Details Section -->
          <div class="navigation-area">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                      {% if previous != None %}
                      <div class="thumb">
                          <a href="{% url 'blog:single' pid=previous.id %}">
                            <img class="img-fluid" src="{{previous.image.url}}" alt="">
                          </a>
                      </div>
                      <div class="detials">
                          <p>Prev Post</p>
                          <a href="{% url 'blog:single' pid=previous.id %}"><h4>{{previous.title}}</h4></a>
                      </div>
                    {% else %}
                      <div class="detials">
                          <p>Prev Post</p>
                          <a><h4>No Previous Post!</h4></a>
                      </div>
                    {% endif %}
                  </div>
                  <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                    {% if next != None %}
                      <div class="detials">
                          <p>Next Post</p>
                          <a href="{% url 'blog:single' pid=next.id %}"><h4>{{next.title}}</h4></a>
                      </div>
                      <div class="thumb">
                          <a href="{% url 'blog:single' pid=next.id %}">
                            <img class="img-fluid" src="{{next.image.url}}" alt="">
                          </a>
                      </div>
                    {% else %}
                      <div class="detials">
                          <p>Next Post</p>
                          <a><h4>No Next Post</h4></a>
                      </div>
                    {% endif %}
                  </div>
              </div>
          </div>
          <br>
          <!-- Blog Comments Section -->
          <section id="blog-comments" class="blog-comments section">

            <div class="container">

              <h4 class="comments-count">{{ comments|length }} Comments</h4>
{% for comment in comments %}
              <div id="comment-1" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="{% static 'blog/assets/img/blog/comments-1.jpg' %}" alt=""></div>
                  <div>
                    <h5><a>{{comment.name}}</a></h5>
                    <time datetime="2020-01-01">{{comment.created_date|naturaltime}}</time>
                    <p>
                      {{comment.message}}
                    </p>
                  </div>
                </div>
              </div><!-- End comment #1 -->
{% empty %}
              <h5>No Comments Yet! Be The First To Comment!</h5>
{% endfor %}
{% comment %}
              <div id="comment-2" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="{% static 'blog/assets/img/blog/comments-2.jpg' %}" alt=""></div>
                  <div>
                    <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan,2022</time>
                    <p>
                      Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
                    </p>
                  </div>
                </div>

                <div id="comment-reply-1" class="comment comment-reply">
                  <div class="d-flex">
                    <div class="comment-img"><img src="{% static 'blog/assets/img/blog/comments-3.jpg' %}" alt=""></div>
                    <div>
                      <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                      <time datetime="2020-01-01">01 Jan,2022</time>
                      <p>
                        Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam aspernatur ut vitae quia mollitia id non. Qui ad quas nostrum rerum sed necessitatibus aut est. Eum officiis sed repellat maxime vero nisi natus. Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.

                        Recusandae sit ad aut impedit et. Ipsa labore dolor impedit et natus in porro aut. Magnam qui cum. Illo similique occaecati nihil modi eligendi. Pariatur distinctio labore omnis incidunt et illum. Expedita et dignissimos distinctio laborum minima fugiat.

                        Libero corporis qui. Nam illo odio beatae enim ducimus. Harum reiciendis error dolorum non autem quisquam vero rerum neque.
                      </p>
                    </div>
                  </div>

                  <div id="comment-reply-2" class="comment comment-reply">
                    <div class="d-flex">
                      <div class="comment-img"><img src="{% static 'blog/assets/img/blog/comments-4.jpg' %}" alt=""></div>
                      <div>
                        <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                        <time datetime="2020-01-01">01 Jan,2022</time>
                        <p>
                          Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis voluptas repellat quisquam possimus. Perferendis id consectetur necessitatibus.
                        </p>
                      </div>
                    </div>

                  </div><!-- End comment reply #2-->

                </div><!-- End comment reply #1-->

              </div><!-- End comment #2-->

              <div id="comment-3" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="{% static 'blog/assets/img/blog/comments-5.jpg' %}" alt=""></div>
                  <div>
                    <h5><a href="">Nolan Davidson</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan,2022</time>
                    <p>
                      Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus quia nihil ut accusantium tempore. Nesciunt expedita id dolor exercitationem aspernatur aut quam ut. Voluptatem est accusamus iste at.
                      Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea est consequuntur officia beatae ea aut eos soluta. Non qui dolorum voluptatibus et optio veniam. Quam officia sit nostrum dolorem.
                    </p>
                  </div>
                </div>

              </div><!-- End comment #3 -->

              <div id="comment-4" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="{% static 'blog/assets/img/blog/comments-6.jpg' %}" alt=""></div>
                  <div>
                    <h5><a href="">Kay Duggan</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan,2022</time>
                    <p>
                      Dolorem atque aut. Omnis doloremque blanditiis quia eum porro quis ut velit tempore. Cumque sed quia ut maxime. Est ad aut cum. Ut exercitationem non in fugiat.
                    </p>
                  </div>
                </div>

              </div><!-- End comment #4 -->
{% endcomment %}
            </div>

          </section><!-- /Blog Comments Section -->

          <!-- Comment Form Section -->
          <section id="comment-form" class="comment-form section">
            <div class="container">

              <form action="{% url 'blog:single' pid=post.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{post.id}}">
                <h4>Write a Comment</h4>
                <p>Your email address will not be published. Required fields are marked * </p>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input name="name" type="text" class="form-control" placeholder="Your Name*">
                  </div>
                  <div class="col-md-6 form-group">
                    <input name="email" type="email" class="form-control" placeholder="Your Email*">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <input name="subject" type="text" class="form-control" placeholder="Subject">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <textarea name="message" class="form-control" placeholder="Your Comment*"></textarea>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Post Comment</button>
                </div>

              </form>

            </div>
          </section><!-- /Comment Form Section -->

        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">

            <!-- Blog Author Widget -->
            {% blog_author %}<!--/Blog Author Widget -->

            <!-- Search Widget -->
            {% include 'blog/blog-search-widget.html' %}<!--/Search Widget -->

            <!-- Recent Posts Widget -->
            {% popular_widget %} <!--/Recent Posts Widget -->

            <!-- Categorries Widget -->
            {% category_widget %}<!--/Categories Widget -->

            <!-- Tags Widget -->
            {% all_blog_tags %} <!--/Tags Widget -->

          </div>

        </div>

      </div>
    </div>

  </main>
{% endblock content %}